<div class="container">
  <div>
    <h2>Ajouter un Produit :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Produit</label>
      <input type="text" [(ngModel)]="produitt.idProduit" name="id_produit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Produit</label>
      <input type="text" [(ngModel)]="produitt.nomProduit" name="nom_produit" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Prix Produit</label>
        <input type="number" [(ngModel)]="produitt.prixProduit" name="prix_produit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Date création</label>
        <input type="date" [ngModel]="produitt.dateCreation | date:'dd/MM/yyyy' " name="date_creation" class="form-control">
    </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Categorie</label>
          <select class="form-control form-control-lg" id="id_cat" name="id_cat" [(ngModel)]="newid_cat">
            @for(cat of categories; track cat.idCat){
            <option [value]="cat.idCat"> {{cat.nomCat}} </option>
            }
          </select>
        </div>

    <div class="mt-2">
        <button type="submit" (click)="addproduit()" class="btn btn-success">Ajouter</button>
    </div>
  </form>
  <div>
    <h2> {{msg}} </h2>
  </div>
</div>
